.page-container {
padding-right: $layout-sidebar + spacing("normal");
padding-left: spacing("normal");
}

.home-intro{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: spacing("extra-wide");
    margin-bottom: spacing("wide");
    flex-wrap: wrap;
}


@media (max-width: $bp-sidebar) {
    .page-container {
        padding-right: $dense-width + spacing("small");
        padding-left: spacing("small");

    }
    .home-intro {
        margin:spacing ("normal") 0 spacing("wide");
    }
}